@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') all;
@import url(animations.css) all;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #f9f9f9;
    --green: #44AA88;
    --gold: #ff9d37;
}

a {
    text-decoration: none;
}


body {
    background: var(--background);
    font-size: 15px;
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    -webkit-tap-highlight-color: transparent;

    -webkit-user-select: none;
    /* Disable text selection for WebKit browsers */
    -moz-user-select: none;
    /* Disable text selection for Mozilla Firefox */
    -ms-user-select: none;
    /* Disable text selection for Microsoft browsers */
    user-select: none;
}

.floating-message {
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: 140%;
    position: fixed;
    right: 1em;
    bottom: 2em;
    z-index: 999;
}

.floating-message p {
    padding: .2em 1em;
    background: var(--background);
    color: #111;
    border-radius: 1em;
    box-shadow: 0 0 5px #ccc;
    display: none;
}

.floating-message i {
    padding: .5em;
    border-radius: 50%;
    background: #FF485F;
    color: var(--background);
    font-size: 150%;
    cursor: pointer;
    box-shadow: 0 0 5px #555;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25em;
    height: 5em;
    border: 2px solid #EEE;
}

.logo {
    color: var(--green);
    font-weight: 700;
    color: #147756;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 5em;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #111;
}




.btns {
    display: flex;
    gap: 2em;
}

.cu {
    background: var(--green);
    padding: .5em 1em;
    border-radius: 2em;
    width: 8em;
    text-align: center;
    color: var(--background);
}

.gc {
    border: 1px solid var(--green);
    padding: .5em 1em;
    width: 8em;
    border-radius: 2em;
    text-align: center;
    color: var(--green);
}




.hero {
    display: flex;
    align-items: '';
    justify-content: space-between;
    margin: 10em 25em;
    gap: 2em;
}

.hero-left h1 {
    font-size: 230%;
    font-weight: 550;
    margin-bottom: .5em;
}

.hero-left p {
    margin-bottom: 2em;
    font-size: 90%;
}

.hero-link a {
    padding: .5em 1.5em;
    border: 1px solid var(--green);
    color: var(--green);
    border-radius: 2em;
}




.hero img {
    width: 35em auto;
    height: 23em;
    border-radius: 1em;
}









.advert-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8em;
    padding: 2.5em 25em;
    border: .5px solid #ddd;
}

.advert-div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.green {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.green i {
    font-size: 190%;
    color: var(--background);
}

.color-g {
    color: var(--green);
}

.advert-div-text{
    font-size: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}










.hero2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10em 25em;
    gap: 3em;
}

.hero2-right h1 {
    margin-bottom: .5em;
    font-size: 230%;
    font-weight: 550;
}

.hero2-right p {
    margin-bottom: 2em;
    font-size: 90%;
}

.hero2-link a {
    padding: .5em 1.5em;
    border: 1px solid var(--green);
    color: var(--green);
    border-radius: 2em;
}

.hero2 img {
    border-radius: 1em;
    width: 32em;
    height: 17em;
}



.welcome-message {
    margin: 10em 25em;
}

.welcome-message h1 {
    font-size: 230%;
    font-weight: 550;
    width: 60%;
    margin-bottom: 1em;
}

.welcome-article {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.welcome-article p {
    width: 50%;
}

.welcome-article a {
    padding: .5em 1.5em;
    background: var(--green);
    color: var(--background);
    border-radius: 2em;
}


.why-choose {
    margin: 10em 25em;
}

.why-choose h2 {
    text-align: center;
}

.why-points {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.point {
    padding: 1em;
    height: 18em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 1em;
    margin-top: 3em;
}

.point i {
    font-size: 20px;
    padding: 1em;
    background: var(--green);
    color: var(--background);
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.middle-point {
    background: var(--green);
    color: var(--background);
}

.middle-point i {
    border: 3px solid var(--background);
}



.hero3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10em 25em;
    gap: 4em;
}

/*********NOTE THE MARGIN LEFT *****/
.hero3 img {
    border-radius: 2em;
    width: 28em;
    margin-left: 4em;
}

/*********NOTE THE MARGIN LEFT *****/

.hero3-right {
    flex-direction: column;
    width: 100%;
}

.hero3 h2 {
    margin-bottom: 1em;
}

.hero3-right p {
    width: 80%;
}
.hero3-link{
    margin-top: 2em;
}
.hero3-link a{
    padding: .5em 1.5em;
    background: var(--green);
    color: var(--background);
    border-radius: 2em;
}








.pricing {
    margin: 10em 25em;
    text-align: center;
}

.pricing h1 {
    margin-bottom: 1em;
    font-weight: 500;
    font-size: 190%;
}

.pricing .top-p {
    margin-bottom: 4em;
}

.prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
}

.price {
    height: 40em;
    width: 100%;
    border: 3px solid #ddd;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 4em 0;
}

.price h1 {
    font-size: 240%;
}

.center-price {
    border: 4px solid var(--green);
}

.center-price h1 {
    background: var(--green);
    color: var(--background);
    width: 100%;
    font-size: 130%;
    font-weight: 500;
}

.price a {
    padding: .5em 1.5em;
    background: var(--green);
    color: var(--background);
    border-radius: 2em;
}











.addresses {
    margin: 10em 25em;
}

.addresses h2 {
    text-align: center;
    margin-bottom: 1em;
}

.addresses .top-p {
    text-align: center;
    margin-bottom: .5em;
}


.qr-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.qr-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 38em;
    width: 40%;
    /*   border: 3px solid #ddd; **/
    border-radius: 1em;
    padding: 2em 0;
    margin-top: 2em;

}

.qr-box img {
    width: 22em;
}

.qr-box a {
    padding: .5em 1.5em;
    border: 1px solid var(--green);
    color: var(--green);
    border-radius: 2em;
    width: auto;
}

.copy-address {
    background: var(--green);
    padding: .5em 1em;
    color: var(--background);
    font-size: 90%;
    width: 15em;
    text-align: center;
    cursor: pointer;
}

.copy-gold {
    background: var(--gold);
}
















.reviews {
    margin: 10em 25em;
}

.reviews h2 {
    text-align: center;

}

.reviews .top-p {
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.review {
    width: 30em;
    margin-top: 3em;
    padding: 2em;
    border-radius: 1em;
    cursor: pointer;
    font-size: 90%;
}

.review p {
    text-align: center;
    margin: 2em 0;
}

.reviewer-name {
    font-weight: 550;
    font-size: 130%;
}

.stars {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gold);
}

.bxs-quote-left {
    font-size: 30px;
}

.bxs-quote-right {
    font-size: 30px;
    width: 100%;
    text-align: right;
}




















footer {
    padding: 5em 25em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--green);
    color: var(--background);
    font-size: 90%;
    gap: 2em;
}

footer a {
    color: var(--background);
}

footer div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    width: 50%;
}

.f-get-started {
    background: var(--background);
    color: var(--green);
    padding: .7em 1.7em;
    border-radius: 2em;
}

footer div .f-mail p {
    display: flex;
    gap: .5em;
}

footer div .f-mail i {
    font-size: 18px;
    color: var(--gold);
}

.bxl-whatsapp {
    font-size: 160%;
}
